* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: 120px calc(100vh - 120px);
  grid-template-areas:
    'header header'
    'nav main';
  font-family: 'Roboto', sans-serif;
}

body.with-nav {
  grid-template-columns: 500px calc(100vw - 500px);
}

body.no-nav {
  grid-template-columns: auto 100vw;
}

/* HEADER */

header {
  grid-area: header;
  border-bottom: 1px solid gray;
  padding: 17px 30px;
  background: #34495e;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 15px;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
}

header .breadcrumbs {
  display: grid;
  grid-column-gap: 5px;
  grid-auto-flow: column;
  justify-items: start;
  justify-content: start;
}

header .breadcrumbs .path {
  background-color: #2980b9;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0 15px;
  height: 40px;
}

header .breadcrumbs .path:not(:first-of-type) {
  min-width: 50px;
}

header .breadcrumbs .path:not(:first-of-type) a {
  margin-left: 10px;
}

header .breadcrumbs .path:first-of-type {
  background-color: #3498db;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url('images/home.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center center;
}

header .breadcrumbs .path:first-of-type a {
  width: 20px;
  height: 100%;
}

header .breadcrumbs .path:first-of-type a img {
  width: 100%;
}

header .breadcrumbs .path::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-right: none;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 10px solid #3498db;
  right: -10px;
  z-index: 100;
}

header .breadcrumbs .path:not(:first-of-type)::after {
  border-left-color: #2980b9;
}

header .breadcrumbs .path::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-right: none;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 10px solid #34495e;
}

header .breadcrumbs .path:last-of-type {
  background-color: #1abc9c;
}

header .breadcrumbs .path:last-of-type::after {
  border-left-color: #1abc9c;
}

header .breadcrumbs .path:first-of-type::before {
  display: none;
}

header h1 {
  font-size: 25px;
  font-weight: 300;
  grid-column: 1 / -1;
}

header .actions {
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: 40px;
}

header .actions div {
  display: grid;
  padding: 8px 0;
  box-sizing: border-box;
  justify-items: center;
  background: #2980b9;
  cursor: pointer;
}

header .actions div img {
  height: 100%;
}

/* NAV */

nav {
  grid-area: nav;
  height: 100%;
  background: #3498db;
}

nav a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

nav ul {
  list-style: none;
  padding: 0 30px;
  overflow-y: auto;
  height: 100%;
  margin-right: 5px;
}

nav ul li {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 18px 0;
  font-size: 15px;
  font-weight: 300;
  align-items: center;
}

nav ul li span.verb,
nav ul li span.subject {
  font-weight: 500;
  font-size: 17px;
}

nav ul li span.verb,
nav ul li span.selected {
  color: #fdd835;
}

nav ul li img {
  height: 10px;
}

nav ul li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* MAIN */

main {
  grid-area: main;
  height: 100%;
  width: calc(100% - 5px);
  overflow: auto;
  padding: 30px 80px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 20px;
  justify-items: start;
  align-content: start;
}

main a {
  text-decoration: none;
  color: #000;
}

table,
table thead,
table tbody,
table tr,
table th,
table td {
  border-collapse: collapse;
  box-sizing: border-box;
}

main table tr th,
main table tr td {
  width: 300px;
  max-width: 300px;
}

main table tr th,
main table tr td {
  padding: 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main table thead {
  background: #2980b9;
}

table thead tr th {
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: #fff;
}

table tbody {
  font-size: 15px;
  font-weight: 300;
}

table tbody tr:nth-of-type(odd) {
  background: #ebebeb;
  border: 1px solid #ffffff;
}

table tbody tr:nth-of-type(even) {
  background: #ffffff;
  border: 1px solid #ebebeb;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  align-items: center;
  grid-column-gap: 10px;
}

main h1 a.link-icon,
main h2 a.link-icon,
main h3 a.link-icon,
main h4 a.link-icon,
main h5 a.link-icon,
main h6 a.link-icon {
  opacity: 0;
  position: absolute;
  right: calc(100% + 10px);
}

main h1:hover a.link-icon,
main h2:hover a.link-icon,
main h3:hover a.link-icon,
main h4:hover a.link-icon,
main h5:hover a.link-icon,
main h6:hover a.link-icon {
  opacity: 1;
}

main h1 img,
main h2 img,
main h3 img,
main h4 img,
main h5 img,
main h6 img {
  height: 18px;
}

main h2 {
  font-size: 25px;
  font-weight: 700;
}

main h3 {
  font-size: 18px;
  font-weight: 500;
}

main p {
  font-size: 18px;
  font-weight: 300;
}

main ul {
  list-style: none;
  width: 100%;
}

main ul li {
  font-size: 18px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .codehilite {
  width: 100%;
  background: #00162c;
}

main .codehilite pre {
  overflow-x: auto;
  padding: 20px;
}

/* SCROLLS */

main::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

main::-webkit-scrollbar-track {
  background: #fff;
}

main::-webkit-scrollbar-thumb {
  background: #34495e;
  border-radius: 2.5px;
}

main *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

main *::-webkit-scrollbar-track {
  background: #fff;
}

main *::-webkit-scrollbar-thumb {
  background: #34495e;
  border-radius: 2.5px;
}

nav ul::-webkit-scrollbar {
  width: 5px;
}

nav ul::-webkit-scrollbar-track {
  background: #3498db;
}

nav ul::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 2.5px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: red;
    page-break-before: always !important;
    page-break-after: always !important;
  }

  body {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    color: black !important;
  }

  header,
  footer,
  nav,
  hr {
    display: none !important;
  }

  main {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}
