
body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  grid-template-areas: 
    "header header"
    "nav main"
    "nav footer";
}

header {
  grid-area: header;
  border-bottom: 1px solid gray;
  padding: 10px;
}

nav {
  grid-area: nav;
  border-right: 1px solid gray;
}

nav ul {
  list-style: none;
  padding: 10px;
}

main {
  grid-area: main;
  padding: 10px;
}

main table, main table tr, main table tr td, main table tr th {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
}

footer{
  grid-area: footer;
}

