
body {
  margin: 0;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav main"
    "nav footer";
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer{
  grid-area: footer;
}

nav, main {
  border: 1px solid red;
}
